.area {
    --margin: 5em;
    width: calc(100% - var(--margin));
    height: calc(100%);
    border: .2em dashed #000;
    background-image: url("../icons/android-chrome-256x256.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 64px 64px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    filter: alpha(opacity=70);
    -khtml-opacity: 0.5;
    -moz-opacity: 0.5;
    opacity: 0.5;
    text-align: center;
}

.area:hover,
.area.dragging,
.area.uploading {
    filter: alpha(opacity=100);
    -khtml-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
}

.area input {
    width: 400%;
    height: 100%;
    margin-left: -300%;
    border: none;
    cursor: pointer;
}

.area input:focus {
    outline: none;
}

main{
    display: grid;
    grid-template-rows: auto 1fr auto auto;
    height: 100vh;
}

.span-indicator{
    border-radius: .25em;
    background-color: var(--warning-color);
    padding: .25em;
}

.span-indicator.present{
    background-color: var(--success-color);
}

#file-name-indicator{
    font-weight: bold;
}