:root{
    --unlocked-color: rgba(231, 231, 231, 0.6);

    /**
    The color map for js is defined below
     */
    --ungrouped-color: hsl(182, 95%, 8%);
    --connecting-line-color: rgb(82, 146, 222);

    --error-color-dark: hsl(0, 81%, 50%);
    --error-color-light: hsla(0, 92%, 67%, 0.7);

    --warning-color-dark: hsl(60, 100%, 50%);
    --warning-color-light: hsl(45, 100%, 90%);

    --success-color-dark: hsl(120, 100%, 63%);
    --success-color-light: hsl(120, 100%, 90%);


    --legend-a-color-dark: hsl(207, 75%, 30%);
    --legend-a-color-light: hsl(207, 75%, 40%);

    --legend-b-color-dark: hsl(254, 33%, 58%);
    --legend-b-color-light: hsl(254, 33%, 68%);

    --legend-c-color-dark: hsl(188, 70%, 45%);
    --legend-c-color-light: hsl(188, 70%, 85%);

    --legend-d-color-dark: hsl(27, 71%, 53%);
    --legend-d-color-light: hsl(0, 100%, 90%);

    --legend-e-color-dark: hsl(173, 93%, 30%);
    --legend-e-color-light: hsl(155, 94%, 30%);

    --legend-f-color-dark: hsl(309, 64%, 35%);
    --legend-f-color-light: hsl(309, 64%, 80%);

    --group-A-background-color-dark: hsl(208, 21%, 12%);
    --group-A-background-color-light: hsl(208, 21%, 90%);

    --group-B-background-color-dark: hsl(209, 44%, 14%);
    --group-B-background-color-light: hsl(209, 44%, 90%);

    --group-A-active-color-dark: hsl(213, 50%, 23%);
    --group-A-active-color-light: hsla(193, 46%, 78%, 70%);

    --group-B-active-color-dark: hsl(213, 49%, 31%);
    --group-B-active-color-light: hsla(189, 72%, 73%, 0.7);

    --group-A-inactive-color-dark: hsla(262, 61%, 42%, 0.7);
    --group-A-inactive-color-light: hsla(263, 55%, 71%, 0.7);

    --group-B-inactive-color-dark: hsla(261, 83%, 77%, 0.7);
    --group-B-inactive-color-light: hsla(253, 54%, 90%, 0.7);

    --text-on-background-color-dark: hsl(0, 0%, 100%);
    --text-on-background-color-light: hsl(0, 0%, 0%);

    /**
    Setting al of the variables to their dark values
     */

    --error-color: var(--error-color-dark);
    --warning-color: var(--warning-color-dark);
    --success-color: var(--success-color-dark);
    --legend-a-color: var(--legend-a-color-dark);
    --legend-b-color: var(--legend-b-color-dark);
    --legend-c-color: var(--legend-c-color-dark);
    --legend-d-color: var(--legend-d-color-dark);
    --legend-e-color: var(--legend-e-color-dark);
    --legend-f-color: var(--legend-f-color-dark);
    --group-A-background-color: var(--group-A-background-color-dark);
    --group-A-active-color: var(--group-A-active-color-dark);
    --group-A-inactive-color: var(--group-A-inactive-color-dark);
    --group-B-background-color: var(--group-B-background-color-dark);
    --group-B-active-color: var(--group-B-active-color-dark);
    --group-B-inactive-color: var(--group-B-inactive-color-dark);
    --text-on-background-color: var(--text-on-background-color-dark);
}

@media(prefers-color-scheme: light){
    :root{
        --error-color: var(--error-color-light);
        --warning-color: var(--warning-color-light);
        --success-color: var(--success-color-light);
        --legend-a-color: var(--legend-a-color-light);
        --legend-b-color: var(--legend-b-color-light);
        --legend-c-color: var(--legend-c-color-light);
        --legend-d-color: var(--legend-d-color-light);
        --legend-e-color: var(--legend-e-color-light);
        --legend-f-color: var(--legend-f-color-light);
        --group-A-background-color: var(--group-A-background-color-light);
        --group-A-active-color: var(--group-A-active-color-light);
        --group-A-inactive-color: var(--group-A-inactive-color-light);
        --group-B-background-color: var(--group-B-background-color-light);
        --group-B-active-color: var(--group-B-active-color-light);
        --group-B-inactive-color: var(--group-B-inactive-color-light);
        --text-on-background-color: var(--text-on-background-color-light);
    }
}


h1 {
    font-weight: bolder;
    text-align: center;
    font-family: "Arial", sans-serif;
}

main{
    /*Before adding the slider, the page was built using a grid*/
    /*display: grid;*/
    /*grid-template-columns: 1fr 1fr;*/
    /*justify-content: space-evenly;*/

    /*After implementing the slider, we switch to a flex based approach*/
    display: flex;

    /*Forcing the height on main does not work, so instead we will allow it to grow*/
    /*Forcing it to a set value was an attempt at getting the scrollbar to appear on the code block while certainly staying within the viewport*/
    /*height: 95vh;*/
    height: auto;

    /*The mainteneace part uses this to make main take up the entire page, and allow the slider to stick to the bottom*/
    /*This is not as relevant here, and it also does not work yet*/
    /*flex-grow: 1;*/
}

main > *{
    margin: .25em;

    /*Spacing of the sub elements*/
    flex: 50%;
}

#separator-slider{
    flex: 0 0 .4em;
    background-color: var(--unlocked-color);
    border: none;
    border-radius: 1em;
    cursor: col-resize;
    visibility: hidden;
}

/*For the header and the unlock button*/
#header-title{
    grid-template-columns: 1fr auto 1fr;
    display: grid;
    justify-content: center;
    align-content: center;
}

#lock-layout-button{
    padding: 0.5rem;
    font-size: 1.5rem;
    justify-self: right;
    align-self: center;
    height: fit-content;
}

.warning {
    /*https://una.im/color-mix-opacity/*/
    background-color: color-mix(in srgb, var(--warning-color), transparent 70%);
}


/*Changing color when unlocked*/
.unlocked{
    background-color: var(--unlocked-color);
    cursor: move;
}

img{
    max-width: 90%;
    max-height: 90%;
    /*width: 90%; !*Since we change the width of the parent we want the image to constantly fill it out*!*/
}

#time-slider-div{
    bottom: .25em;
    position: sticky;

    width: calc(100% - .5em);
    height: 7.5em;

    margin: .25em .25em .75em;
    padding: 1em;
    text-align: center;
    background-color: var(--group-B-background-color);
    border-radius: .5em;
    border: .2em solid hsl(240, 20%, 2%);

    z-index: 100;
}

#time-slider{
    width: 100%;
}

.sliderticks {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}

.sliderticks span {
    display: flex;
    justify-content: center;
    width: 1px;
    height: 10px;
    background: #d3d3d3;
    line-height: 40px;
}