#header-title {
    font-weight: bold;
    text-align: center;
    font-family: "Arial Black", sans-serif;
}

.plotly-chart {
    width: 90%;
    height: 90%;
}

/*Starting structure borrowed from WebDevSimplified, but adapted by Thor Jørgin*/
body {
    margin: 0;
}

.drag-container {
    background-color: lightslategray;
    padding: 1rem;
    margin-top: 1rem;
}

.draggable {
    padding: 1rem;
    margin: 1rem;
    background-color: lightgrey;
    border: 1px solid black;
}

.unlocked{
    background-color: lightskyblue;
    cursor: move;
}

.draggable.dragging {
    opacity: .5;
}

#lock-layout-button{
    position: sticky;
    top: 0;
}

button{
    padding: 0.5rem;
    font-size: 2.5rem;
}